.bg-custom {
    background-color: #e56b7f;
}

.resaltado {
    transform: scale(1.1);
    border: 2px solid red;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.image-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-block img {
    width: auto;
    max-height: 300px;
    height: 100%;
    border: 2px solid #e56b7f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.image-block img:hover {
    transform: scale(1.1);
}

.container {
    margin-top: 20px;
}
