/* formato para el pie de pagina */

.highlighted {
  border: 2px solid rgb(75, 13, 146);
  box-shadow: 0 0 5px rgba(40, 37, 37, 0.897);
}

.footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.footer p {
    margin: 0;
}
/* separador que utilizo para dar separacion entre seccion*/
.altura{
  padding: 10px 0;
}