{% extends "core/base.html" %}
{% load humanize %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2> Administracion de Contactos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarcontacto/" method="POST">{% csrf_token %}
                    
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <input type="text" id="txtCorreo" name="txtCorreo" class="form-control" placeholder="Correo" required>
                    </div>  

                    <div class="form-group mb-3">
                        <input type="text" id="txtMensaje" name="txtMensaje" class="form-control" placeholder="Mensaje" required>
                    </div>
                    
                    
                    <div class="form-group d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-success text-white">Agregar Contacos</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
   
    <div class="col-sm12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Contactos</h1>
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>                        
                        <th>Nombre</th>                        
                        <th>Correo</th>
                        <th>Mensaje</th>
                        <th colspan="3">Opciones</th>
                    </tr>
                </thead>
                <tbody>                    
                        {% for contacto in contacto %}
                    <tr>                        
                        <td>{{ contacto.nombre }}</td>                         
                        <td>{{ contacto.correo }}</td>
                        <td>{{ contacto.mensaje }}</td>

                        <td><a href="{% url 'editarcontacto' contacto.nombre %}" class="btn btn-info">Editar</a> </td>
                        <td><a href="{% url 'eliminarcontacto' contacto.nombre %}" class="btn btn-dark">Eliminar</a></td>

                    </tr>                   
                        {% endfor %}                    
                </tbody>
            </table>
        </div>            
    </div>
</div>


{% endblock %}
