{% extends "core/base.html" %}
{% load humanize %}
{% block body %}
<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <h2> Administracion de Productos</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarproducto/" method="POST">{% csrf_token %}
                    <div class="form-group mb-3">
                        <input type="text" id="txtCodigo" name="txtCodigo" class="form-control" placeholder="Codigo" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtNombre" name="txtNombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="numPrecio" name="numPrecio" class="form-control" placeholder="Precio" required pattern="[0-9]+">
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" id="txtDesc" name="txtDesc" class="form-control" placeholder="Descripcion" required>
                    </div>
                    <div class="form-group mb-3">
                        <select id="txtCategoria" name="txtCategoria" class="form-control" required>
                            <option value="">Seleccionar categoría</option>  <!-- Agrega esta opción -->
                            {% for categoria in categorias %}
                            <option value="{{ categoria.nombre }}">{{ categoria.nombre }}</option>
                            {% endfor %}
                        </select>
                    </div>                  
                    <div class="form-group d-grid gap-2 mb-3">
                        <button type="submit" class="btn btn-success text-white">Agregar Producto</button>
                    </div>
                </form>
            </div>
        </div>    
    </div>
   
    <div class="col-sm12 col-md-6 col-lg-8 col-xl-8">
        <h1>Listado de Productos</h1>
        <div class="table table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Precio</th>                        
                        <th>Categoria</th>
                        <th colspan="2">Opciones</th>
                    </tr>
                </thead>
                <tbody>                    
                        {% for p in productos %}
                    <tr>
                        <td>{{ p.codigo }}</td>
                        <td>{{ p.nombre }}</td>
                        <td>{{ p.precio|intcomma }}</td>                     
                        <td>{{ p.categoria }}</td> 
                        <td><a href="{% url 'editarproducto' p.codigo %}" class="btn btn-info">Editar</a> </td>
                        <td><a href="{% url 'eliminarproducto' p.codigo %}" class="btn btn-dark">Eliminar</a></td>

                    </tr>                   
                        {% endfor %}                    
                </tbody>
            </table>
        </div>            
    </div>
</div>


{% endblock %}



