{% extends "core/base.html" %}
{% load humanize %}
{% load static %}
{% block body %}

<section class="altura">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6">
          <div class="card">
            <img src="{% static 'core/img/servicios/tienda.jpg' %}" class="card-img-top img-format highlight-image" alt="Banner01">
            <div class="card-body">
              <h5 class="card-title">Nuestra Tienda</h5>
              <p class="card-text">En nuestra tienda encontraras todo tipo de libros cursos y materia necesario para  el desarrollo de tu empresa.</p>
            </div>
          </div>
        </div>
  
        <div class="col-12 col-sm-6">
          <div class="card">
            <img src="{% static 'core/img/servicios/servicios.jpg' %}" class="card-img-top img-format highlight-image" alt="Banner02">
            <div class="card-body">
              <h5 class="card-title">Servicios Contables y Asesorias</h5>
              <p class="card-text">Todos nuestros colaboradores pasan por un exigente proceso de selección para garantizar que serán los mejores de cada área.</p>
            </div>
          </div>
        </div>



{% endblock %}