{% extends "core/base.html" %}
{% load humanize %}
{% block body %}

    

    <div class="container altura">

        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
             <div class="card">
                <div class="card-body">
                    <h2>Ingresa tus Credenciales<h2>
                        <hr>
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <a href="{% url 'home' %}">Volver al Inicio</a>
                            
                            <input type="submit" value="Logeate Papi!" class="btn btn-success float-right">
                        </form>
                </div>
             </div>  
            </div>
        </div>
    </div>

{% endblock %}
